# Configurações do Banco de Dados
NOVUU_DB_NAME=lancamentos
NOVUU_DB_USER=postgres
NOVUU_DB_PASSWORD=sua_senha_super_secreta_aqui

# Connection String para a API
NOVUU_CONNECTION_STRING=Host=db;Database=lancamentos;Username=postgres;Password=sua_senha_super_secreta_aqui
